In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
my_date = datetime(my_year, my_month, my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [8]:
type(my_date_time)

datetime.datetime

In [9]:
my_date_time.month

1

In [10]:
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]

In [11]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [12]:
dt_ind = pd.DatetimeIndex(first_two)

In [13]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [14]:
data = np.random.randn(2, 2)
data

array([[-0.18554674,  0.86245208],
       [ 0.92139465, -0.6639694 ]])

In [15]:
cols = ['a', 'b']

In [16]:
df = pd.DataFrame(data, dt_ind, cols)

In [17]:
df

                   a         b
2016-01-01 -0.185547  0.862452
2016-01-02  0.921395 -0.663969

In [18]:
df.index.argmax()

1

In [19]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [20]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

In [21]:
df.index.argmin()

0